body {
  text-align: center;
  color: blue;
  background-color: #bce9ff;
  margin: auto;
}

h1 {
  margin: 6px;
}

.subt {
  margin: auto;
  color: blue;
  text-decoration: none;
  font-family: "Roboto Monospace", "Courier New", monospace;
  font-size: 12px;
}

canvas {
  border: 1pt solid black;
  text-align: CENTER;
  margin: auto;
}

a {
  color: blue;
}

article {
  background-color: #bce9ff;
}

button {
  margin: auto;
}