body {
  text-align: center;
  color: blue;
  background-color: lightskyblue;
  margin: auto;
}

canvas {
  border: 1pt solid black;
  text-align: CENTER;
  margin: auto;
}

a {
  color: blue;
}

article {
  background-color: lightskyblue;
}

button {
  margin: auto;
}